<div class="jumbotron center">
<img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/382748_10150939284245538_236987618_n.jpg?oh=79a7276ad54500ec41d5ceb568ae1cc7&oe=56243AF3" height="device-height">
<h1>Hello There!</h1>
<h4>Welcome to Zach's Online Portfolio/Resume</h4>
<p>Click <%= link_to "here", "https://www.linkedin.com/pub/zach-blass/52/438/796" %> to visit Zach's LinkedIn page!</p>

