<div class="jumbotron center">
<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/382748_10150939284245538_236987618_n.jpg?oh=7a601ff163ed3f9a6b47c9611d56ddc2&oe=5913B1F3" height="device-height">
<h1>Hello There!</h1>
<h4>Welcome to Zach's Online Portfolio/Resume</h4>
<p>Click <%= link_to "here", "https://www.linkedin.com/pub/zach-blass/52/438/796" %> to visit Zach's LinkedIn page!</p>

