<div class="jumbotron left">

	<h3>Teen Kids News Reporting</h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/k2FmTv8us-M?list=UUifUdOrX9_IwG5ORJ-MNAzg" frameborder="0" allowfullscreen></iframe>

</div>

<div class="jumbotron left">
	<h3>An article I wrote on the topic of Food Trucks in NYC for the EatDrinkJobs Blog, which was later Retweeted by the NYC Food Truck Association</h3>
<p> <%= link_to "Meals on Wheels: An Intern’s Take on the Food Truck Craze", "http://www.eatdrinkjobs.com/blog/2012/08/07/meals-on-wheels-an-interns-take-on-the-food-truck-craze/" %> </p>
	<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/10570389_10154287088100538_1412597937382836097_n.jpg" alt="Blog" width="device-width" height="device-height">
</div>
