<div class="jumbotron left">

	<h3>Teen Kids News Reporting</h3>
	<h4> A compilation of my reporting on Teen Kids News, whether the Click This! or other gerneral reporting </h4>

<iframe width="560" height="315" src="//www.youtube.com/embed/k2FmTv8us-M?list=UUifUdOrX9_IwG5ORJ-MNAzg" frameborder="0" allowfullscreen></iframe>

</div>

<div class="jumbotron left">
	<h3> Blog Writing </h3>
	<h4>An article I wrote on the topic of Food Trucks in NYC for the EatDrinkJobs Blog, which was later Retweeted by the NYC Food Truck Association (24K+ Followers!)</h4>
<p> <%= link_to "https://twitter.com/nycfoodtruck/status/232951981931638784" %> </p>
	<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10570389_10154287088100538_1412597937382836097_n.jpg?oh=caf47ab1f75dce235ea6fdc9cf93b3e2&oe=5923FB20" alt="Blog" width="device-width" height="device-height">

	<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/16179766_10157838468235538_5134912920522082015_o.jpg?oh=2a9f5213a931d903de6f968decdb84ac&oe=591813A7" alt="Blog" width="1000" height="500">
</div>
